.NavBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #488e6f;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.NavBar a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.NavBar a:hover {
    color: black;
    transition: color 100ms linear;
    text-decoration: underline;
}