.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: #DCE2F0;
    padding: 1rem;
    width: 100%;
}

.NavBar .elements {
    list-style-type: none;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

.NavBar .elements li {
    padding: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.NavBar .elements a {
    color: #50586C;
    font-size: 40px;
    text-decoration: none;
}

.NavBar .elements a:hover {
    color:#1b1d23;
    transition: 0.3s;
}