.contact {
    background: linear-gradient(rgb(16, 16, 16), rgb(25, 25, 25));
    padding-top: 1rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
}

.contact h1 {
    font-size: 3rem;
    font-style: bold;
    color: var(--font-color);
}

.message, .email {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: bisque;
    padding: 1rem;
}

.email {
    width: 50%;
    height: 30px;
}

.message {
    margin-top: 2rem;
    width: 50%;
    height: 300px;
}

.submit {
    margin-top: 2rem;
    width: 100px;
    height: 50px;
    background-color: var(--font-color);
    border: 2px solid black;
    border-radius: 10px;
}