.about {
    max-width: 70%;
    margin: 0 auto;
}

.bigTitle h1 {
    font-size: 50px;
}

.about ul {
    display: block;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.about li {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
}

.about p {
    font-size: 35px;
}

.experienceTitle {
    font-size: 35px;
}

.border {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.thingy {
    display: block;
    border: 2px solid black;
}

.thingy:not(.thingy h2) {
    display: flex;
    justify-content: space-between;
}

.expImage {
    padding: 3rem;
}

.experiences ul {
    padding: 2rem;
}

.acmImage {
    padding: 1rem 3rem;
}