.about {
    width: 100%;
    height: 93vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url(../assets/background.avif);
    display: flex;
    justify-content: space-evenly;
}

.bigTitle {
    font-size: 50px;
    color: white;
}
/*
.about ul {
    display: block;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.about li {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
}

.about p {
    font-size: 35px;
}

.experienceTitle {
    font-size: 35px;
}

.experiences, .introduction, .description {
    padding: 1px;
}

.border {
    border-bottom: 3px solid rgba(0, 0, 0, 0.638);
    width: 80%;
    margin: 0 auto;
}

.thingy {
    display: block;
    border: 2px solid black;
    border-radius: 0px;
}

.thingy:not(.thingy h2) {
    display: flex;
    justify-content: space-between;
}

.expImage {
    padding: 3rem;
    float: left;
}

.experiences ul {
    padding: 2rem;
}

.acmImage {
    padding: 1rem 3rem;
    float: right;
}*/