.biography {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0) 20%, rgb(10, 10, 10));
    box-sizing: border-box;
    margin: 0 auto;
    color: var(--font-color);
}

.blueBar {
    width: 80%;
    border: none;
    border-top: 5px solid rgb(88, 88, 226);
    border-radius: 2px 2px;
    padding: 3px;
}

.blueBar:last-of-type {
    margin-top: 3rem;
    margin-bottom: 0;
}

.description p{
    font-size: 25px;
    color: rgb(37, 36, 36);
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem;
    color: var(--font-color);
}

.description p:last-of-type {
    margin-top: 1rem;
}

.slideshow {
    display: flex;
    justify-content: center;
}

.icon-container {
    align-items: center;
    margin-bottom: -2rem;
    max-height: 100px;
}

.icon-container:hover h3 {
    opacity: 1;
}

.icon-container:hover i {
    opacity: 0.1;
}

.icon-container h3 {
    position: relative;
    top: -90%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon-container i {
    font-size: 5rem;
    margin: 0 1rem;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    padding-bottom: -3rem;
}


.experienceTitle {
    font-style: bold;
    font-size: 3rem;
}

.expList {
    color: var(--font-color);
}

.expList h2 {
    padding: 0;
    margin: 0;
    color: var(--font-color);
    text-decoration: underline;
    font-size: 2rem;
    letter-spacing: 2px;
}
.expList h4 {
    padding: 1px;
    margin: 0;
    color: var(--font-color);
    font-size: 20px;
    
}
.experience {
    width: 500px;
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
    margin: 1rem auto 2rem auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 10px 10px 5px gray;
    padding: 1rem 5rem;
    background-color: beige;
    font-size: 20px;
    align-items: center;
    color: rgb(40, 38, 38);
    
}

.experience .expImage {
    border: 2px solid black;
    background: white;
    border-radius: 1rem;
}
