.pages {
    position: relative;
    background: linear-gradient(rgb(16, 16, 16), rgb(32, 32, 32));
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 1rem;
    color: var(--font-color)
}

.pages h1 {
    font-size: 3rem;
    font-style: bold;

}

li {
    width: 700px;
    list-style-type: none;
    margin: 0 auto;
}
.element {
    padding: 1rem auto;
}

.pages ul {
    border: 2px solid rgb(26, 3, 99);
}
